.champions-container {
  width: 100%;
  padding: 40px 60px; /* MISMO padding que el navbar */
}

h1 {
  text-align: center;
  font-size: 2.3rem;
  margin-bottom: 30px;
  max-width: 100%;
  margin-bottom: 36px;
}

/* FILTROS */
.filters {
  display: flex;
  gap: 14px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}

.filters input,
.filters select {
  background: #020617;
  border: 1px solid #1e293b;
  color: #f8fafc;
  padding: 20px 14px;
  border-radius: 10px;
}

.filters input {
  flex: 1;
  min-width: 350px;
}

.filters select {
  min-width: 180px;
}

/* GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 26px;
  width: 100%;
}

/* CARD */
.card {
  background: linear-gradient(to bottom, #020617, #020617cc);
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.7);
}

.card img {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.card h3 {
  margin-top: 10px;
}

.card p {
  font-size: 0.85rem;
  opacity: 0.8;
}

.card-actions {
  display: flex;
  justify-content: space-between;
  padding: 12px 14px;
}

.favorite-btn {
  font-size: 1.4rem;
  background: transparent;
  border: none;
  color: #374151;
  cursor: pointer;
  transition: color 0.2s;
}

.favorite-btn.active {
  color: #facc15;
}

.favorite-btn:hover {
  color: #fde047;
}

.details-btn {
  background: #1e293b;
  border: none;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 0.8rem;
}

.details-btn:hover {
  background: #334155;
}


.tags {
  display: flex;
  justify-content: center;
  gap: 6px;
  flex-wrap: wrap;
  margin: 10px 0 14px;
}

.tag {
  background: #1e293b;
  padding: 4px 10px;
  border-radius: 8px;
  font-size: 0.7rem;
}

/* responsive styles */

@media (max-width: 1024px) {
  .champions-container {
    padding: 30px 32px;
  }

  .grid {
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}

@media (max-width: 600px) {
  .champions-container {
    padding: 20px 16px;
  }

  .grid {
    grid-template-columns: 1fr;
  }

  .card img {
    height: 300px;
  }
}
